### Scrip para descargar data de la API de Yahoo Finance

In [8]:
import pandas as pd 
import numpy as np
import datetime as dt
import yfinance as yf

In [4]:
# libreria necesaria 
# conda install -c conda-forge yfinance

### Se declaran variables con las fechas de comienzo, fin  y dato de nombre del activo

In [55]:
start = dt.datetime(2022,1,1)
end = dt.datetime(2023,6,2)
company = '^GSPC'

### Se descarga la data

In [56]:
data = yf.download(company, start , end)

[*********************100%***********************]  1 of 1 completed

In [57]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-03,4778.140137,4796.640137,4758.169922,4796.560059,4796.560059,3831020000
2022-01-04,4804.509766,4818.620117,4774.270020,4793.540039,4793.540039,4683170000
2022-01-05,4787.990234,4797.700195,4699.439941,4700.580078,4700.580078,4887960000
2022-01-06,4693.390137,4725.009766,4671.259766,4696.049805,4696.049805,4295280000
2022-01-07,4697.660156,4707.950195,4662.740234,4677.029785,4677.029785,4181510000
...,...,...,...,...,...,...
2023-05-25,4155.709961,4165.740234,4129.729980,4151.279785,4151.279785,4147760000
2023-05-26,4156.160156,4212.870117,4156.160156,4205.450195,4205.450195,3715460000
2023-05-30,4226.709961,4231.100098,4192.180176,4205.520020,4205.520020,4228510000
2023-05-31,4190.740234,4195.439941,4166.149902,4179.830078,4179.830078,5980670000
2023-06-01,4183.029785,4232.430176,4171.640137,4221.020020,4221.020020,4391860000

### Se usa solo la variable de cierre diario

In [66]:
data['Close']

Date
2022-01-03    4796.560059
2022-01-04    4793.540039
2022-01-05    4700.580078
2022-01-06    4696.049805
2022-01-07    4677.029785
                 ...
2023-05-25    4151.279785
2023-05-26    4205.450195
2023-05-30    4205.520020
2023-05-31    4179.830078
2023-06-01    4221.020020
Name: Close, Length: 355, dtype: float64

In [75]:
df = pd.DataFrame(data['Close'])

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 355 entries, 2022-01-03 to 2023-06-01
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Close   355 non-null    float64
dtypes: float64(1)
memory usage: 5.5 KB

In [77]:
df.to_csv('sp500.csv')  #  ojo que date es el indice