### Scrip para obtener datos del indice SP500 Hoteles, restaurantes y afines

In [1]:
import pandas as pd

### Se hace un web Scraping  a la URL de descarga de la web, pasando todos los parametros por la url

In [3]:
url = "https://www.marketwatch.com/investing/index/sp500.253010/downloaddatapartial?startdate=01/01/2023%2000:00:00&enddate=05/06/2023%2000:00:00&daterange=d30&frequency=p1d&csvdownload=true&downloadpartial=false&newdates=false&countrycode=xx"

df_sp500H = pd.read_csv(url)

In [6]:
df_sp500H

          Date      Open      High       Low     Close
0   05/05/2023  1,669.21  1,680.73  1,680.73  1,680.73
1   05/04/2023  1,673.05  1,667.08  1,667.08  1,667.08
2   05/03/2023  1,720.12  1,673.33  1,673.33  1,673.33
3   05/02/2023  1,711.97  1,720.20  1,720.20  1,720.20
4   05/01/2023  1,703.79  1,712.66  1,712.66  1,712.66
..         ...       ...       ...       ...       ...
81  01/09/2023  1,507.29  1,505.68  1,505.68  1,505.68
82  01/06/2023  1,472.77  1,507.55  1,507.55  1,507.55
83  01/05/2023  1,475.30  1,472.30  1,472.30  1,472.30
84  01/04/2023  1,442.87  1,475.72  1,475.72  1,475.72
85  01/03/2023  1,438.75  1,442.43  1,442.43  1,442.43

[86 rows x 5 columns]